<a href="https://colab.research.google.com/github/aaryak289/nlpJ044/blob/master/HomeworkAssignment/HomeworkAssignment3_J044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import spacy

In [0]:
pip install -U spacy==2.1.8

SyntaxError: ignored

In [0]:
sp = spacy.load('en_core_web_sm')

In [0]:
sentence = sp(u'Manchester United is looking to sign a forward for $90 million')

In [0]:
for word in sentence:
    print(word.text)

Manchester
United
is
looking
to
sign
a
forward
for
$
90
million

In [0]:
for word in sentence:
    print(word.text,  word.pos_)

Manchester PROPN
United PROPN
is VERB
looking VERB
to PART
sign VERB
a DET
forward NOUN
for ADP
$ SYM
90 NUM
million NUM

In [0]:
for word in sentence:
    print(word.text,  word.lemma_)

Manchester Manchester
United United
is be
looking look
to to
sign sign
a a
forward forward
for for
$ $
90 90
million million

In [0]:
import pandas as pd 
df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines= True,orient='values')

In [0]:
def SPACY(str):
    tokenization = []
    lemmatization = []
    pos_tags = []
    dependency_parser = []
    nouns = []
    doc = nlp(str)
    for word in doc:
        tokenization.append(word.text)
        lemmatization.append(word.lemma_)
        pos_tags.append(word.pos_)
        dependency_parser.append(word.dep_)
        if 'nn' in word.tag_.lower():
            nouns.append(word.text)
    return {'text': tokenization, 'lemma_': lemmatization, 'tag_': pos_tags, 'dependency parser': dependency_parser, 'nouns': nouns, 'noun_count': len(nouns)}

In [22]:
df['reviewtext_spacy'] = df.iloc[0:20]['reviewText'].apply(SPACY)
df.head()

       reviewerID  ...                                   reviewtext_spacy
0  A32T2H8150OJLU  ...  {'text': ['I', 'bought', 'my', 'first', 'HP12C...
1  A3MAFS04ZABRGO  ...  {'text': ['WHY', 'THIS', 'BELATED', 'REVIEW', ...
2  A1F1A0QQP2XVH5  ...  {'text': ['I', 'have', 'an', 'HP', '48GX', 'th...
3   A49R5DBXXQDE5  ...  {'text': ['I', ''ve', 'started', 'doing', 'mor...
4  A2XRMQA6PJ5ZJ8  ...  {'text': ['For', 'simple', 'calculations', 'an...

[5 rows x 10 columns]