<a href="https://colab.research.google.com/github/aaryak289/nlpJ044/blob/master/ClassAssignment/ClassAssignment2_J044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
data=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines= True,orient='values')

In [2]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
#Using a function to count the vowels and consonants

def vowel_count(str):
    #Initializing dictionary
    vowels = 'aeiou'
    consonants= 'bcdfghjklmnpqrstvwxyz'
    counts = dict()
    vowel_count = 0
    word_count = 0
    consonant_count = 0

    string = str.lower().split() #converting to lower case
    #Creating a for loop which will maintain the word count
    for i in str.lower():
        #Checking for vowels
        if i in vowels:
          vowel_count+=1
        if i in consonants:
          consonant_count+=1
        word_count = len(string)     
    counts['Vowels'] = vowel_count
    counts['Consonants'] = consonant_count
    counts['Words'] = word_count

    return counts

In [12]:
data.reviewText.apply(vowel_count,1)

0         {'Vowels': 279, 'Consonants': 437, 'Words': 186}
1        {'Vowels': 1504, 'Consonants': 2685, 'Words': ...
2          {'Vowels': 134, 'Consonants': 235, 'Words': 96}
3        {'Vowels': 1089, 'Consonants': 1775, 'Words': ...
4         {'Vowels': 208, 'Consonants': 338, 'Words': 120}
                               ...
53253     {'Vowels': 236, 'Consonants': 358, 'Words': 146}
53254    {'Vowels': 839, 'Consonants': 1308, 'Words': 498}
53255     {'Vowels': 422, 'Consonants': 693, 'Words': 290}
53256     {'Vowels': 232, 'Consonants': 335, 'Words': 147}
53257     {'Vowels': 582, 'Consonants': 901, 'Words': 337}
Name: reviewText, Length: 53258, dtype: object

In [13]:
#Words starting with b or B using regex
import re
text=data.iloc[1].reviewText
text
re.findall(r'\b[bB]\w+', text)

['BELATED',
 'burying',
 'brandname',
 'best',
 'business',
 'before',
 'business',
 'bearer',
 'boy',
 'business',
 'best',
 'been',
 'by',
 'being',
 'business',
 'by',
 'bear',
 'by',
 'by',
 'because',
 'by',
 'BROKEN',
 'be',
 'by',
 'Based',
 'built',
 'BETTER',
 'BENCHMARKING',
 'be',
 'business',
 'be',
 'business',
 'brandname',
 'be',
 'be',
 'be',
 'business',
 'By',
 'be',
 'be',
 'bearer']

In [15]:
#words ending with G or G using regEx
text1=data.iloc[1].reviewText
re.findall(r' \b\w+[gG]\b ', text1)

[' sharing ',
 ' burying ',
 ' praising ',
 ' including ',
 ' continuing ',
 ' surviving ',
 ' selling ',
 ' According ',
 ' selling ',
 ' remaining ',
 ' being ',
 ' using ',
 ' amusing ',
 ' disappointing ',
 ' frustrating ',
 ' remaking ',
 ' differentiating ',
 ' following ',
 ' MANUFACTURING ',
 ' BENCHMARKING ',
 ' listening ',
 ' puzzling ',
 ' replacing ',
 ' discontinuing ',
 ' missing ']