<a href="https://colab.research.google.com/github/aaryak289/nlpJ044/blob/master/ClassAssignment/ClassworkAssignment4_J044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd # Importing and downloading the packages and downloading 
import gzip
import nltk
from sklearn.metrics import confusion_matrix, accuracy_score
nltk.download('punkt')
from textblob import TextBlob
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [0]:
url = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv' # twitter data
df = pd.read_csv(url, error_bad_lines=False)
df.head()
df = df.iloc[0:100,:]

In [0]:
df_1= pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True) #data for review text
df_1.head()
df_1 = df_1.iloc[0:100,:]

In [0]:
def textblobfunction(text):  #creating function for textblob
  blob = TextBlob(text)
  for sentence in blob.sentences:
     print(sentence.sentiment.polarity)
  return text

In [37]:
textblobfunction(df_1['reviewText'][0]) # running textblob for the first row

0.25
-0.5
0.0
0.0
0.41875
0.19166666666666665
0.0
0.25
0.07500000000000001
0.0

"I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!"

In [0]:
def TEXTBLOB(text):     # function to check the polarity
  TEXTBLOB = TextBlob(text).sentiment
  polarity = TEXTBLOB.polarity
  if polarity == 0:
    return "neutral"
  elif polarity > 0:
     return "positive"
  else:
    return "negative"

In [39]:
df_1['reviewText_textblob'] = df_1['reviewText'].apply(TEXTBLOB) #applying textblob on review text
df_1.head()

       reviewerID        asin  ...   reviewTime reviewText_textblob
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004            positive
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007            positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011            positive
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006            positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013            positive

[5 rows x 10 columns]

In [40]:
df['TweetText_textblob'] = df['TweetText'].apply(TEXTBLOB) #applying textblob on twitter text
df.head()

   Topic  ... TweetText_textblob
0  apple  ...            neutral
1  apple  ...           positive
2  apple  ...           positive
3  apple  ...           positive
4  apple  ...           positive

[5 rows x 6 columns]

In [0]:
def sent_int_analyzer(text):       #using sentiment ananlyzer to predict the sentiments
  sia = SentimentIntensityAnalyzer()
  sentences = text
  for sentence in sentences:
    score = sia.polarity_scores(sentences)
    if score['compound'] <= -0.05:
      return "negative"
    elif score['compound'] >= 0.05:
      return "positive"
    else:
      return "neutral"

In [42]:
df_1['reviewText_intensity_analyzer'] = df_1['reviewText'].apply(sent_int_analyzer) #applying sentiment analyzer on review text
df_1.head()

       reviewerID        asin  ... reviewText_textblob reviewText_intensity_analyzer
0  A32T2H8150OJLU  B00000JBLH  ...            positive                      positive
1  A3MAFS04ZABRGO  B00000JBLH  ...            positive                      positive
2  A1F1A0QQP2XVH5  B00000JBLH  ...            positive                      negative
3   A49R5DBXXQDE5  B00000JBLH  ...            positive                      positive
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...            positive                      positive

[5 rows x 11 columns]

In [43]:
df['TweetText_intensity_analyzer'] = df['TweetText'].apply(sent_int_analyzer) # applying sentiment analyzer on twitter
df.head()

   Topic Sentiment  ...  TweetText_textblob TweetText_intensity_analyzer
0  apple  positive  ...             neutral                      neutral
1  apple  positive  ...            positive                     positive
2  apple  positive  ...            positive                     positive
3  apple  positive  ...            positive                     positive
4  apple  positive  ...            positive                     positive

[5 rows x 7 columns]

In [44]:
df = df[df['Sentiment'] != "irrelevant"]
df['Sentiment'].value_counts()

positive    100
Name: Sentiment, dtype: int64

In [45]:
print(confusion_matrix(df['Sentiment'],df['TweetText_textblob']))  #creating confusion matrix and obtaining accuracy score
print(accuracy_score(df['Sentiment'],df['TweetText_textblob']))
print(confusion_matrix(df['Sentiment'],df['TweetText_intensity_analyzer']))
print(accuracy_score(df['Sentiment'],df['TweetText_intensity_analyzer']))

[[ 0  0  0]
 [ 0  0  0]
 [ 5 23 72]]
0.72
[[ 0  0  0]
 [ 0  0  0]
 [ 9 15 76]]
0.76