<a href="https://colab.research.google.com/github/aaryak289/nlpJ044/blob/master/ClassAssignment/ClassAssignment8_J044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd    #installing packages
import numpy as np
import regex as re

In [2]:
from google.colab import files   #uploading the data

uploaded = files.upload()

Saving SMSSpamCollection to SMSSpamCollection

In [3]:
df = pd.read_csv('SMSSpamCollection',delimiter='\t',header=None)  #reading
df.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [0]:
df.columns = ['category','message']

In [5]:
import nltk   #word tokenization and stopword removal
from nltk import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [0]:
def stop(text):   #cleaning
  text=re.sub('[^a-zA-Z]', " ", str(text))
  text=text.lower()
  stop_words = set(stopwords.words('english'))
  word_tokens = word_tokenize(text)
  filtered_sentence = [w for w in word_tokens if not w in stop_words]
  return text

In [7]:
df['Clean Message']=df['message'].apply(stop)
df.head()

  category  ...                                      Clean Message
0      ham  ...  go until jurong point  crazy   available only ...
1      ham  ...                      ok lar    joking wif u oni
2     spam  ...  free entry in   a wkly comp to win fa cup fina...
3      ham  ...  u dun say so early hor    u c already then say
4      ham  ...  nah i don t think he goes to usf  he lives aro...

[5 rows x 3 columns]

In [0]:
df.drop(['message'],1,inplace=True)   #dropping message

In [9]:
df.head()

  category                                      Clean Message
0      ham  go until jurong point  crazy   available only ...
1      ham                      ok lar    joking wif u oni
2     spam  free entry in   a wkly comp to win fa cup fina...
3      ham  u dun say so early hor    u c already then say
4      ham  nah i don t think he goes to usf  he lives aro...

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer  #TFIF Vectorisation
tfidf = TfidfVectorizer()

In [0]:
model = tfidf.fit_transform(df['Clean Message'])

In [12]:
tfidf.get_feature_names

<bound method CountVectorizer.get_feature_names of TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)>

In [0]:
model = pd.DataFrame(model.toarray(), columns=tfidf.get_feature_names())

In [0]:
y = df['category']

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import  train_test_split as tts
from sklearn.metrics import classification_report,accuracy_score

RFC = RandomForestClassifier()

In [0]:
x_train,x_test,y_train,y_test = tts(model,y,test_size=0.25)  #train test split

In [17]:
RFC.fit(x_train,y_train)   #random forrest model fit and prediction on train and test 
y_pred = RFC.predict(x_test)

print(classification_report(y_test,y_pred)) #printing scores
accuracy_score(y_test,y_pred)

              precision    recall  f1-score   support

         ham       0.97      1.00      0.99      1201
        spam       1.00      0.82      0.90       192

    accuracy                           0.98      1393
   macro avg       0.99      0.91      0.94      1393
weighted avg       0.98      0.98      0.97      1393

0.9755922469490309

In [18]:
RFC.predict(x_test)

array(['ham', 'ham', 'ham', ..., 'spam', 'ham', 'ham'], dtype=object)